@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import './constants.css';

html {
  font-size: var(--font-size-text);
}

body {
  margin: 0;
}

.header {
}

.container {
  margin: 0 auto;
  max-width: var(--content-width);
}
